/* Base styles for body element */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.site-container {
  min-height: 100vh;
}

/* Main content padding */
main {
  flex: 1;
}
.btn-primary,
.btn-outline-primary {
  background-color: #f0c040;
  color: #000000;
}

/* Product list container styles */
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.rating span {
  color: #ffc000;
}

/* Product card container styles */
.product {
  border: 1px #404040 solid;
  margin: 1rem;
}

/* Product image styles */
.product img {
  width: 100%;
  max-width: 400px;
}

/* Product details container styles */
.product-details {
  padding: 1rem;
}
.img-large {
  max-width: 100%;
}
/* image in the cart */
.img-thumbnail {
  height: 80px;
}
/* singin screen syle */
.small-container {
  max-width: 600px;
}

/* the shipping page the color of the line  */
.checkout-steps > div {
  border-bottom: 0.2rem solid #a0a0a0;
  color: #a0a0a0;
}

/* the shipping page the color of the line  */
.checkout-steps > div.active {
  border-bottom: 0.2rem solid #f08000;
  color: #f08000;
}

/* sidebar  from line 76 to 96*/
.navbar-brand {
  font-weight: bold;
}
.side-navbar {
  width: 240px;
  height: 100%;
  position: absolute;
  left: -300px;
  background-color: #100901;
  transition: 0.5s;
}

.site-container {
  transition: 0.4s;
}
.active-cont {
  margin-left: 240px;
}
.active-nav {
  left: 0;
}


/* for the review (filtier)*/

.text-bold {
  font-weight: bold;
}


