/* Base styles for body element */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.site-container {
  min-height: 100vh;
}

/* Main content padding */
main {
  flex: 1;
}
.btn-primary,
.btn-outline-primary {
  background-color: #f0c040;
  color: #000000;
}
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem; /* Add some space between your cards */
}
/* Product list container styles */

.rating span {
  color: #fcc000;
}

/* Product card container styles */
.product {
  border: 1px #404040 solid;
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

/* Product image styles */

.product-image {
  width: 100;
  height: 0;
  padding-bottom: 125%; /* This is for an aspect ratio of 4:3. Adjust as needed. */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Product details container styles */
.product-details {
  padding: 1rem;
  flex-grow: 1; /* This will push your buttons to the bottom */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.img-large {
  max-width: 100%;
}
/* image in the cart */
.img-thumbnail {
  height: 80px;
}
/* singin screen syle */
.small-container {
  max-width: 600px;
}

/* the shipping page the color of the line  */
.checkout-steps > div {
  border-bottom: 0.2rem solid #a0a0a0;
  color: #a0a0a0;
}

/* the shipping page the color of the line  */
.checkout-steps > div.active {
  border-bottom: 0.2rem solid #f08000;
  color: #f08000;
}

/* sidebar  from line 76 to 96*/
.navbar-brand {
  font-weight: bold;
}
.side-navbar {
  width: 240px;
  height: 100%;
  position: absolute;
  left: -300px;
  background-color: #0d0a06;
  transition: 0.5s;
}

.site-container {
  transition: 0.4s;
}
.active-cont {
  margin-left: 240px;
}
.active-nav {
  left: 0;
}
@media (max-width: 768px) {
  .side-navbar {
    width: 120px; /* adjust this for mobile view */
  }

  .active-cont {
    margin-left: 120px; /* adjust this for mobile view */
  }
}
/* for the review (filtier)*/

.text-bold {
  font-weight: bold;
}

/*background-color: #B30000;*/

.delete-button:hover,
.delete-button:focus {
  background-color: #df1b1b;
}
.small-screen .nav-link {
  font-size: 0.8rem; /* Adjust the font size as needed */
}
.mobile-categories {
  /* Add the styles you want for mobile view here */
  font-size: 0.8rem; /* example: smaller font size */
}

@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Spartan', sans-serif;
}
/* footer */
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .logo {
  margin-bottom: 30px;
}

footer .follow {
  margin-top: 20px;
}

footer .follow i {
  color: #465b52;
  padding-right: 4px;
  cursor: pointer;
}

footer h4 {
  font-size: 14px;
  padding-bottom: 20px;
}

footer p {
  font-size: 13px;
  margin: 0 0 8px 0;
}

footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

footer a {
  font-size: 13px;
  text-decoration: none;
  margin-bottom: 10px;
  color: #222;
}

footer .install .row img {
  border: 1px solid #088178;
  border-radius: 6px;
}

footer .install img {
  margin: 10px 0 15px 0;
}

footer .copyright {
  width: 100%;
  text-align: center;
}

footer .follow i:hover,
footer a:hover {
  color: #088178;
}

footer .icon ul li {
  display: inline-block !important;
  margin-right: 10px !important;
}
footer .icon ul {
  list-style-type: none; /* Remove default bullet points */
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
}

footer .icon ul li {
  display: inline-block; /* Display list items inline */
  margin-right: 10px; /* Add some space to the right of each icon */
}
ul li a .fab {
  height: 100%;
  display: block;
  border-radius: 50%;
  line-height: calc(60px - 12px);
  font-size: 30px;

  color: #465b52;
  transition: 0.5s;
}

ul li:nth-child(1) a:hover .fab {
  color: #3b5998;
}

ul li:nth-child(2) a:hover .fab {
  color: #00aced;
}

ul li:nth-child(3) a:hover .fab {
  color: #dd4b39;
}

ul li:nth-child(4) a:hover .fab {
  color: #007bb6;
}

ul li:nth-child(5) a:hover .fab {
  color: #e4405f;
}

footer h4 {
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 20px;
  padding-top: 20px;
}

footer p {
  font-size: 13px;
  margin: 0 0 8px 0;
}

footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

footer a {
  font-size: 15px;
  text-decoration: none;
  margin-bottom: 10px;
  color: rgb(28, 27, 27);
}

footer .install .row img {
  border-radius: 6px;
}

footer .install img {
  margin: 10px 0 15px 0;
}

footer .follow i:hover,
footer a:hover {
  color: #088178;
}
#newsletter .form {
  width: 70%;
}
#newsletter {
  padding: 40px 20px;
}
#newsletter .form {
  width: 100%;
}

#newsletter {
  background-image: url('/public/banner/b1.jpg');
  background-repeat: no-repeat;
  background-position: 20% 30%;
  background-color: #041e42;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

#newsletter h4 {
  font-size: 22px;
  font-weight: 700;
  color: #fff;
}

#newsletter p {
  font-size: 14px;
  font-weight: 600;
  color: #818ea0;
}

#newsletter p span {
  color: #ffbd27;
}
