/* Base styles for body element */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* Header styles */
header {
  background-color: #404040;
  padding: 1rem;
}

/* Header link styles */
header a {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}

/* Main content padding */
main {
  padding: 1rem;
}

/* Product list container styles */
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Product card container styles */
.product {
  border: 1px #404040 solid;
  margin: 1rem;
}

/* Product image styles */
.product img {
  width: 100%;
  max-width: 400px;
}

/* Product details container styles */
.product-details { 
  padding: 1rem;
}
